In [2]:
import pymongo
import json
import requests
from pymongo import MongoClient
import yfinance as yf
import datetime
import pandas as pd
import requests

In [38]:

client = pymongo.MongoClient("mongodb+srv://test:1111@hellowealth.wnyrs.mongodb.net/TestDB?keepAlive=true&poolSize=30&autoReconnect=true&socketTimeoutMS=360000&connectTimeoutMS=360000")
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

stocks = ['MSFT', 'AMNZ', 'TSLA', 'AC']

for st in stocks:
    querystring = {"period1":"1546448400","period2":"1562086800","symbol":st,"frequency":"1d","filter":"history"}

    headers = {
    'x-rapidapi-key': "24e6fb3517msh440342105a0dcf5p10d467jsn8387aa179d81",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }
    historical_prices = requests.request("GET", url, headers=headers, params=querystring)
    historical_prices = historical_prices.json()
    db = client[st]
    db.list_collection_names()

    stock_schema=db[st]
    db.list_collection_names()
    stock_schema.insert_one(historical_prices)


historical_prices

In [6]:
tsla_df = yf.download('TSLA', start='2019-01-01', 
                      end='2019-12-31', progress=False)
tsla_df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-01-02  61.220001  63.026001  59.759998  62.023998  62.023998  58293000
2019-01-03  61.400002  61.880001  59.476002  60.071999  60.071999  34826000
2019-01-04  61.200001  63.599998  60.546001  63.537998  63.537998  36970500
2019-01-07  64.344002  67.348000  63.549999  66.991997  66.991997  37756000
2019-01-08  68.391998  68.802002  65.403999  67.070000  67.070000  35042500

In [7]:
ticket_list = ['TSLA', 'MSFT', 'FB']

In [8]:
import datetime
date = datetime.date.today()

In [9]:
# We can get data by our choice by giving days bracket

import datetime
start_date= datetime.datetime.now() - datetime.timedelta(days=3*365)

end_date=date.today()
ticker='MSFT'
files=[]
def getData(ticker):
print (ticker)
data = pdr.get_data_yahoo(ticker, start=start_date, end=today)
dataname= ticker+’_’+str(today)
files.append(dataname)
SaveData(data, dataname)

IndentationError: expected an indented block (<ipython-input-9-15d63e229ef3>, line 10)